{% extends "base.html" %}

{% load static %}

{% block content %}
<br>
  <h2>Lista de Reempadronamiento Comercio Física</h2>
  <table id="resolucionTable" class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="col-1">Fecha</th>
        <th scope="col" class="col-5">Comercio</th>
        <th scope="col" class="col-2">Estado</th>
        <th scope="col" class="col-4">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for reempad in object_list %}
        <tr>
          <td>{{ reempad.fecha|date:"d/m/Y" }}</td>
          <td>{{ reempad.apellido }} {{ reempad.nombre }} ({{ reempad.nombreFantasia }})</td>
          <td>
            {% if reempad.estado.nombre == "Pendiente" %}
              <span class="badge bg-primary rounded-pill">{{ reempad.estado.nombre }}</span>
            {% elif reempad.estado.nombre == "Cargado" %}
              <span class="badge bg-success rounded-pill">{{ reempad.estado.nombre }}</span>
            {% elif reempad.estado.nombre == "Rechazado" or reempad.estado.nombre == "Eliminado" %}
              <span class="badge bg-danger rounded-pill">{{ reempad.estado.nombre }}</span>
            {% endif %}
          </td>          
          <td>BOTONES</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">No hay registros aún.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <script>
    // Inicializar los tooltips
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
    });
  </script>
  
  <link rel="stylesheet" href="{% static 'style/jquery.dataTables.min.css' %}">
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script>
  $(document).ready(function() {
      var table = $('#resolucionTable').DataTable({
          "order": [[ 0, "desc" ]],
          "language": {
              "url": "//cdn.datatables.net/plug-ins/1.10.22/i18n/Spanish.json",
              "sLengthMenu": "_MENU_",
              "sInfo": "<h6 class='float-end'>Total de registros: _TOTAL_</h6>"
          },
          "initComplete": function() {
              // Aplicar clases de Bootstrap al campo de búsqueda
              $('div.dataTables_filter input').attr('placeholder', 'Buscar..');
              $('div.dataTables_filter label').contents().filter(function() {
                  return this.nodeType === 3; // Node.TEXT_NODE
              }).remove();
  
              // Aplicar clases de Bootstrap al select de cantidad de registros a mostrar
              $('div.dataTables_length label').contents().filter(function() {
                  return this.nodeType === 3; // Node.TEXT_NODE
              }).remove();
              $('div.dataTables_length label').prepend('Registros por página: ');
  
              // Aplicar clases de Bootstrap a la paginación
              $('div.dataTables_paginate').addClass('justify-content-center');
              $('div.dataTables_paginate a').addClass('btn btn-primary');
              $('div.dataTables_paginate a').css('margin', '0 2px');
          },
          "drawCallback": function() {
              // Aplicar clases de Bootstrap a la paginación en cada cambio de página
              $('div.dataTables_paginate a');
              $('div.dataTables_paginate a').css('margin', '0 2px');
          }
      });
  
      // Mover el campo de búsqueda y el select de cantidad de registros a la misma fila
      $('div.dataTables_filter').css('float', 'right');
      $('div.dataTables_length').css('float', 'left');
      $('div.dataTables_filter').appendTo('#resolucionTable_length');
  });
  </script>
{% endblock %}